.masthead{
  background-color: #f5f5f5;
}

a:link {
  text-decoration: none;
  color: white;
}

h1{
  color: white;
}

h1 a:visited{
  color: white;
}

h1 a:hover{
  color: #843d6b;
}

a:visited{
  color: white;
}

a:hover{
  color: #843d6b;
  text-decoration: none;
}

.hero-image{
  color: white;
}

.body-copy-colour{
  color: #a0a0a0;
}

.title-colour{
  color: #505153;
}

.bucket-colour-1{
  background-color: #f5f5f5;
}

.bucket-colour-2{
  background-color: #505153;
}

.footer-text{
  color: #e6e6e6;
}

.text-colour-white{
  color: white;
}

.background-purple{
  background-color: #34182a;
}

.background-green{
  background-color: #5ad0b7;
}
