*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
}

.hero-image{
    background-image: url("http://placehold.it/350x150");
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 6rem;
}


.text-width-1{
  width: 180px;
  margin: 0 auto;
}

.text-width-2{
  width: 70%;
  margin: 0 auto;
}

.action-button{
  background: #505153;
  padding: 10px 20px 10px 20px;
}

.action-button:hover {
  background: #7bcdfd;
  color: white;
}

.bucket-box{
  position:relative;
  height: 400px;
}

.vertical-alignment{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1em){
  .hero-text{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 38em){
  .hero-text{
    font-size: 2rem;
  }
}

@media only screen and (min-width: 60em){
  .hero-text{
    font-size: 3rem;
  }
}

@media print{
  nav{
    display: none;
  }
}
