@-moz-viewport {width:device-width; scale: 1;}
@-ms-viewport {width:device-width; scale: 1;}
@-o-viewport {width:device-width; scale: 1;}
@-webkit-viewport {width:device-width; scale: 1;}
@viewport {width:device-width; scale: 1;}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
}

.hero-image{
    background-image: url("http://placehold.it/350x150");
    background-size: cover;
}

.hero-padding{
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.bucket-padding{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.hero-text{
  font-size: 3rem;
}

.divider{
  border-left: 3px solid #a0a0a0;
  padding-left: 100px;
}

.login{
  text-align: right;
}

.text-width-1{
  width: 180px;
  margin: 0 auto;
}

.text-width-2{
  width: 400px;
  margin: 0 auto;
}

.text-width-3{
  width: 650px;
  margin: 0 auto;
}

.action-button{
  background: #505153;
  padding: 10px 20px 10px 20px;
}

.action-button:hover {
  background: #7bcdfd;
  color: white;
}

.bucket-box{
  position:relative;
}

.v-images{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
